@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');_

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-size: 18px;
    font-family: 'Dancing Script', cursive, 'Open Sans', sans-serif, 'Poppins', sans-serif;
}

.box{
    width: 40%;
    height: 250px;
    margin: 100px auto;
    background-color: slateblue;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-inline: 30px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgb(0, 0, 0, 0.3);
}

.profile{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #f0f0f0;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

img{
    width: 100%;
    border-radius: 50%;
}

p{
    margin-top: 50px;
}

@media (max-width: 768px) {
    .box{
        width: 60%;
        height: 300px;
    }
}